#slideshow {list-style:none; color:#ffffff;}
#slideshow span {display:none}
#slider_wrapper {width:900px; margin:0px auto; display:none}
#slider_wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:900px; height:506px; padding:0px; border:0; background:#ffffff}
#information {position:absolute; bottom:0; display:block; width:784px; height:50px; background:url(../images/info_base_2.png) no-repeat; overflow:hidden; z-index:200;}
#information h3 {font-family:TypoSlabserif-Light; font-weight:normal; font-size:20px; color:#000000; text-align:left; padding:70px 0px 0px 310px; height:60px; width:450px}
#information p {font-family:Arial; font-weight:normal; font-size:14px; color:#000000; text-align:right; padding:0px 40px 10px 0px; height:20px}
#image {width:900px; }
#image img {position:absolute; z-index:25;}
.imgnav {position:absolute; width:25%; height:456px; cursor:pointer; z-index:250}
/*#imgprev {left:0; background:url(../images/left.png) left bottom no-repeat}*/
/*#imgnext {right:0; background:url(../images/right.png) right bottom no-repeat}*/
#imglink {position:absolute; height:456px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(../images/link.gif) center center no-repeat}
#thumbnails {margin-top:0px; padding-top:80px;}
#slideleft {float:left; width:32px; height:126px; background:#161616 url(../images/left.png) center center no-repeat}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:32px; height:126px; background:#161616 url(../images/right.png) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:830px; margin-left:3px; height:130px; overflow:hidden}
#slider {position:absolute; left:0; height:130px}
#slider img {cursor:pointer; border:3px solid #151515}