	@charset "utf-8";
/*---CSS Document---*/

@import url("css/reset.css");


@font-face {
    font-family: 'BigNoodleTitlingRegular';
    src: url('../font/big_noodle_titling-webfont.eot');
    src: url('../font/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/big_noodle_titling-webfont.woff') format('woff'),
         url('../font/big_noodle_titling-webfont.ttf') format('truetype'),
         url('../font/big_noodle_titling-webfont.svg#BigNoodleTitlingRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---Overall---*/

html {height:100%;}
body {
margin:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
color:#ffffff;
line-height:24px;
/*font-smooth:always;
-webkit-font-smoothing:antialiased;
text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

.body_black{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:normal;
color:#151515;
line-height:24px;
}

.title_black{
font-family:'BigNoodleTitlingRegular', Helvetica, sans-serif;
font-size:30px;
font-weight:normal;
color:#151515;
}

.title_white{
font-family:'BigNoodleTitlingRegular', Helvetica, sans-serif;
font-size:30px;
font-weight:normal;
color:#ffffff;
}

h6{
font-family:'BigNoodleTitlingRegular', Helvetica, sans-serif;
font-size:18px;
font-weight:normal;
color:#ff7e0e;
padding:0px 0px 0px 10px;
margin:0;
text-shadow:0 1px 1px rgba(0,0,0,.8);
}



.header{
background:url("../images/header.jpg") repeat-x;
height:94px;
weight:auto;
}

.footer{
background:url("../images/footer.jpg") repeat-x;
height:52px;
weight:auto;
}

.background_top{
background:url("../images/background_black.jpg");
height:auto;
width:100%;
margin:0px;
padding:0px;
}

.background_btm{
background:url("../images/background_orange.jpg");
height:auto;
width:100%;
margin:0px;
padding:0px;
}

/*---Content---*/
.wrapper{
width:900px; margin:0 auto; min-height:100%;
}


/*---Main Menu---*/
#maincurrent{
text-decoration:none;
background:url(../images/active_hover.jpg) no-repeat;
width:111px;
height:94px;
background-position:center;
display:block;
font-size:20px;
}

.mainmenu{
border:none;
margin:0px;
font-family:'BigNoodleTitlingRegular', Helvetica, sans-serif;
font-weight:normal;
height:94px;
width:600px;
float:right;
}

	.mainmenu ul{
	list-style:none;
	margin:0;
	padding:0;
	}
		.mainmenu li{
		float:right;
		width:111px;
		height:94px;
		text-align:center;
		border-left:1px solid #555555;
		border-right:1px solid #555555;
		}
		
		.mainmenu li a{
		background:none;
		font-weight:normal;
		margin:auto;
		width:auto;
		height:94px;
		text-decoration:none;
		line-height:90px;
		font-size:20px;
		color:#ffffff;
		font-smooth:always;
		-webkit-font-smoothing: antialiased;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		display:block;
		}
	
		.mainmenu li a:hover,
		.mainmenu ul li:hover a{
		width:auto;
		height:94px;
		text-decoration:none;
		background:url(../images/active_hover.jpg) no-repeat;
		background-position:center;
		display:block;
		}
		
			.mainmenu li ul{
			display:none;
			margin:0;
			padding:0;
			border:0;
			width:170px;
			height:auto;
			background-color:#323232;
			position:absolute;
			z-index:1000;
			/*top:1em;
			/*left:0;*/
			}

			.mainmenu li:hover ul{
			display:block;
			}
			
				.mainmenu li li {
				border:0;
				margin:0;
				padding:0px;
				display:block;
				width:170px;
				height:50px;
				display:block;
				text-align:left;
				text-decoration:none;
				font-size:18px;
				font-style:normal;
				line-height:18px;
				vertical-align:middle;
				}
		
				.mainmenu li:hover li a{
				background:none;
				}
		
					.mainmenu li ul a{
					display:block;
					margin:0px;
					padding:0px 0px 0px 20px;
					font-size:18px;
					font-style:normal;
					line-height:50px;
					}
					
					.mainmenu li ul a:hover,{
					border:0px;
					text-decoration:none;
					}
					
					.mainmenu li ul li:hover a{
					border:0px;
					width:150px;
					height:50px;
					text-decoration:none;
					background:#ff7e0e;
					}

/*---Footer---*/
	
#footer_menu{
color:#ffffff;
height:52px;
width:600px;
font-size:12px;
float:right;
padding:15px 0px 0px 0px;
}
	
	#footer_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position:relative;
	z-index:90;
	float:right;
	}
	
		#footer_menu ul li {
		float:left;
		display:inline-block;
		padding:0px 0px 0px 10px;
		font-size:12px;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		}
	
		#footer_menu ul li a{
		color:#ffffff;
		text-decoration:none;
		}
	
		#footer_menu ul li a:hover{
		color:#ff7e0e;
		text-decoration:none;
		}	
		
			#footer_menu li ul{
			display:none;
			height:auto;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:absolute;
			z-index:200;
			}
	
			#footer_menu li:hover ul{
				display:block;
			}
	
				#footer_menu li li {
				margin:0px;
				padding:10px 0px 0px 0px;
				color:#fbeb8c;
				}
		
				#footer_menu li:hover li a{
				background:none;
				margin:0px;
				}	
	
					#footer_menu li ul a{
					float:left;
					margin:0px;
					}
		
						#footer_menu li ul a:hover, .mainmenu li ul li:hover a{
						border:0px;
						color:#ffffff;
						text-decoration:none;
						}

.copyright{
float:left;
font-size:12px;
text-shadow:0 1px 1px rgba(0,0,0,.8);
height:52px;
width:300px;
padding:15px 0px 0px 0px;
}

/*--Social Icon---*/
.facebook{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}

.facebook:hover{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}

.tweeter{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tweeter.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}

.tweeter:hover{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tweeter_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}

.google_plus{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/google_plus.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}

.google_plus:hover{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/google_plus_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}

.linkedin{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/linkedin.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}

.linkedin:hover{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/linkedin_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
}
/*--Social Icon End---*/

/*---Buttons---*/
.btn_parts_list{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_parts_list.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  *display:block;
  }
  
.btn_parts_list:hover{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_parts_list_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  *display:block;
  }
  
  .btn_dealer_list{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_dealer_list.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  *display:block;
  }

.btn_dealer_list:hover{
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/btn_dealer_list_hover.png') no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  *display:block;
  }
/*---Buttons End---*/
